# Use Case Document
DEVTrails_2026_Usecase_Document.pdf

# OS/IDE Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & Temp
*.log
npm-debug.log*
.tmp/

# Node & Dependencies
node_modules/

# Next.js Build Output
.next/
out/
build/

# Vercel Deployment
.vercel/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
